@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{

    /* Color */

    --buttonCyan: hsl(171, 66%, 44%);
    --buttonBlue: hsl(233, 100%, 69%);
    --titleColor: hsl(210, 10%, 33%);
    --textColor:hsl(201, 11%, 66%);

    /* Typography */

    --fontSize: 16px;
    --fontFamily: 'Bai Jamjuree', sans-serif;


}

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
    color: var(--textColor);
}

img{
    height: 50px;
}

.container{
    max-width: 375px;
    margin: 0 auto;
}

h2{
    font-size: 27px;
    text-align: center;   
    padding: 0 20px;
    color: var(--titleColor);
}

h3{
    font-size: 24px;
    font-weight: 600;
}

    /* First section */

.first_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7.9rem 2rem;
    margin-bottom: 0rem;
}

.logo{
    height: 120px;
}

h1{
    margin-top: 4rem;
    font-size: 30px;
    line-height: 2.5rem;
    text-align: center;
}

.product_track{
    margin-top: 1.3rem;
    font-size: var(--fontSize);
    text-align: center;
    padding: 0 2px;
    line-height: 1.5rem;
}

.buttons_div{
    margin-top: 3.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button{
    font-size: 18px;
    font-family: var(--fontFamily);
    font-weight: 600;
    padding: 15px 70px;
    border-radius: 25px;
    color: white;
}

.ios_button{
    background-color: var(--buttonCyan);
    margin-bottom: 1.5rem;
    box-shadow: 1px 1px 1px var(--buttonCyan);
}

.mac_button{
    background-color: var(--buttonBlue);
    box-shadow: 1px 1px 1px var(--buttonBlue);
}

    /* Second section */

.second_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    
}

.product_store{
    margin-top: 1.2rem;
    padding: 0 0.5rem;
    line-height: 1.5rem;
    text-align: center;
}

.product_computer{
    height: 240px;
    margin-top: 4.5rem;
}

.features_list{
    font-family: var(--fontFamily);
    margin-top: 3.3rem;
    text-align: center;
}

.feature_title{
    color: var(--titleColor)
}

.features_item{
    list-style-type: none;
}

.features_description{
    margin-top: 0.6rem;
    margin-bottom: 3.2rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
}

    /* Third section */

.third_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7rem 0rem 6rem 0;
    width: 100%;
}

.product_access{
    text-align: center;
    margin-top: 1.2rem;
    line-height: 1.6rem;
    padding: 0 2rem;
}

.product_devices{
    margin-top: 3.6rem;
    height: 220px;
    width: 375px;
    padding: 0 1rem;
    
}

    /* Fourth section */

.fourth_section{
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_tools{
    text-align: center;
    margin-top: 1rem;
    padding: 0 2rem;
    line-height: 1.5rem;
}

.product_tools_list{
     margin-top: 2.5rem;
}

.product_tools_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    /*tools images*/

.paper_img{
    height: 40px;
    margin-top: 3rem;
}

.letter_img{
    height: 35px;
    margin-top: 3.5rem;
}

.eye_img{
    height: 32px;
    margin-top: 3.6rem;
}

.product_tools_title{
    margin-top: 2.6rem;
}

.product_tools_description{
    text-align: center;
    margin-top: 1.4rem;
    padding: 0 2rem;
    line-height: 1.5rem;
}

    /*fifth_section*/

.fifth_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8.5rem;
}

.companies_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.5rem;
}

.companies_item{
    list-style-type: none;
    margin-bottom: 4rem;
}

.companies_img{
    height: 40px;
}

.microsoft_img{
    height: 28px;
}

.hp_img{
    height: 47px;
}

.vector_img{
    height: 25px;
}

.product_avaibility_title{
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.product_avaibility{
    padding: 0 2.2rem;
    text-align: center;
    line-height: 1.7rem;
}

.buttons_div_bottom{
    margin-top: 2.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_bottom{
    height: 55px;
    margin-top: 4rem;
}

.page_links{
   
    margin-top: 2.5rem;
}

.page_links_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: var(--fontFamily);
    
}

.page_links_item{
    margin-bottom: 1.7rem;
}

.link{
    color: var(--textColor);
    text-decoration: none;
    font-size: 18px;
}

.social_links{
    display: flex;
   
}

.social_links_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 9.5rem;
    margin-top: 1.5rem;
}

.social_links_item{
    
}

.social_links_img{
    height: 25px;
}