@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {

    /* Color */

    --buttonCyan: hsl(171, 66%, 44%);
    --buttonBlue: hsl(233, 100%, 69%);
    --titleColor: hsl(210, 10%, 33%);
    --textColor: hsl(201, 11%, 66%);

    /* Typography */

    --fontSize: 16px;
    --fontFamily: 'Bai Jamjuree', sans-serif;


}

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
    color: var(--textColor);
}



.container {
    max-width: 375px;
    margin: 0 auto;
}

h2 {
    font-size: 27px;
    text-align: center;
    padding: 0 20px;
    color: var(--titleColor);
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

/* First section */

.first_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7.9rem 2rem;
    margin-bottom: 0rem;
}

.logo {
    height: 120px;
}

h1 {
    margin-top: 4rem;
    font-size: 30px;
    line-height: 2.5rem;
    text-align: center;
    color: var(--titleColor);
}

.product_track {
    margin-top: 1.3rem;
    font-size: var(--fontSize);
    text-align: center;
    padding: 0 2px;
    line-height: 1.5rem;
}

.buttons_div {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button {
    font-size: 18px;
    font-family: var(--fontFamily);
    font-weight: 600;
    padding: 15px 70px;
    border-radius: 25px;
    color: white;
    border: none;
}

.button{
    cursor: pointer;
}

.ios_button {
    background-color: var(--buttonCyan);
    margin-bottom: 1.5rem;
    box-shadow: 1px 2px 1px  hsl(171, 57%, 45%);
}

.ios_button:hover{
    background-color:hsl(171, 63%, 59%);
}

.mac_button {
    background-color: var(--buttonBlue);
    box-shadow: 1px 2px 1px hsl(233, 49%, 51%);
}

.mac_button:hover{
    background-color: hsl(233, 76%, 72%);;
}

/* Second section */

.second_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;

}

.product_store {
    margin-top: 1.2rem;
    padding: 0 0.5rem;
    line-height: 1.5rem;
    text-align: center;
}

.product_computer {
    height: 240px;
    margin-top: 4.5rem;
}

.features_list {
    font-family: var(--fontFamily);
    margin-top: 3.3rem;
    text-align: center;
}

.feature_title {
    color: var(--titleColor)
}

.features_item {
    list-style-type: none;
}

.features_description {
    margin-top: 0.6rem;
    margin-bottom: 3.2rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
}

/* Third section */

.third_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7rem 0rem 6rem 0;
    width: 100%;
}

.product_access {
    text-align: center;
    margin-top: 1.2rem;
    line-height: 1.6rem;
    padding: 0 2rem;
}

.product_devices {
    margin: 0 auto;
    margin-top: 3.6rem;
    height: 220px;
    width: 375px;
    padding: 0 1rem;

}

/* Fourth section */

.fourth_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product_tools {
    text-align: center;
    margin-top: 1rem;
    padding: 0 2rem;
    line-height: 1.5rem;
}

.product_tools_list {
    margin-top: 2.5rem;
}

.product_tools_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*tools images*/

.paper_img {
    height: 40px;
    margin-top: 3rem;
}

.letter_img {
    height: 35px;
    margin-top: 3.5rem;
}

.eye_img {
    height: 32px;
    margin-top: 3.6rem;
}

.product_tools_title {
    margin-top: 2.6rem;
}

.product_tools_description {
    text-align: center;
    margin-top: 1.4rem;
    padding: 0 2rem;
    line-height: 1.5rem;
}

/*fifth_section*/

.fifth_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8.5rem;
}

.companies_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.5rem;
}

.companies_item {
    list-style-type: none;
    margin-bottom: 4rem;
}

.companies_img {
    height: 40px;
}

.microsoft_img {
    height: 28px;
}

.hp_img {
    height: 47px;
}

.vector_img {
    height: 25px;
}

.product_avaibility_title {
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.product_avaibility {
    padding: 0 2.2rem;
    text-align: center;
    line-height: 1.7rem;
}

.buttons_div_bottom {
    margin-top: 2.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer */

footer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_bottom {
    height: 55px;
    margin-top: 4rem;
}

.page_links {
    margin-top: 2.5rem;
}

.page_links_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: var(--fontFamily);

}

.page_links_item {
    margin-bottom: 1.7rem;
}

.link {
    color: var(--textColor);
    text-decoration: none;
    font-size: 18px;
}

.social_links {
    display: flex;

}

.social_links_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 9.5rem;
    margin-top: 1.5rem;
}

.social_links_list:hover{
    cursor: pointer;
}

.social_links_img {
    height: 25px;
}

.link:hover{
    color: var(--buttonCyan);

}

@media screen and (min-width: 1439px) {

    .container {
        max-width: 1440px;
    }


    h2 {
        font-size: 35px;
        padding: 0 20px;
    }

    .first_section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 8rem 4rem;
    }

    .logo {
        height: 125px;
    }

    h1 {
        margin-top: 4rem;
        font-size: 45px;
        font-weight: 600;
        text-align: center;
    }

    .product_track {
        margin-top: 1.8rem;
        font-size: 20px;
        text-align: center;
        padding: 0 19rem;
        line-height: 1.8rem;
    }

    .buttons_div {
        margin-top: 3.1rem;
        flex-direction: row;
        justify-content: space-around;
        width: 30rem;
    }

    .button {
        font-size: 18px;
        font-family: var(--fontFamily);
        font-weight: 600;
        padding: 15px 35px;
        border-radius: 25px;
        color: white;
    }

    .ios_button {
        margin-bottom: 0;
    }

    /* Second section */

    .second_section {
        padding: 1.5rem 0rem;
    }

    .product_store {
        margin-top: 1rem;
        font-size: 18px;
        padding: 0 23rem;
        line-height: 2rem;
    }

    .features_div {
        width: 100%;
        display: flex;
    }

    .product_computer {
        height: 575px;
        width: 735px;
        margin-top: 4.7rem;
        margin-left: -1rem;
    }

    .features_list {
        font-family: var(--fontFamily);
        margin-top: 9rem;
        text-align: start;
        margin-left: 7rem;

    }

    .features_description {
        line-height: 1.8rem;
        padding: 0 16rem 0.5rem 0;
    }

    /* Third section */

    .third_section {
        padding: 8rem 0rem 4.5rem 0;
    }

    .product_access {
        font-size: 18px;
        line-height: 1.8rem;
        padding: 0 21.9rem;
    }

    .product_devices {
        margin-top: 6.3rem;
        height: 570px;
        width: 940px;

    }

    /* Fourth section */

    .fourth_section {
        padding: 0 0rem;
    }

    .product_tools {
        margin-top: 1.5rem;
        font-size: 18px;
    }

    .product_tools_list {
        margin-top: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5.5rem;
        width: 100%;
    }

    .product_tools_item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    .product_tools_title {
        margin-top: 2.5;
    }

    .product_tools_description {
        text-align: center;
        margin-top: 1rem;
        padding: 0 1rem;
        line-height: 1.8rem;
    }

    /*tools images*/

    .paper_img {
        height: 40px;
        margin-top: 1.4rem;
    }

    .letter_img {
        height: 35px;
        margin-top: 0rem;
    }

    .eye_img {
        height: 30px;
        margin-top: 0rem;
    }

    /*fifth_section*/

    .fifth_section{
        margin-top: 9rem;
    }

    .companies_div {
        width: 81%;
        padding: 1.2rem 0 0 1.6rem;
    }

    .companies_list {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }


    .companies_img {
        height: 50px;
    }

    .microsoft_img {
        height: 34px;
    }

    .hp_img {
        height: 55px;
    }

    .vector_img {
        height: 30px;
    }

    .product_avaibility_title {
        padding: 0 2rem;
        margin-bottom: 1rem;
    }

    .product_avaibility {
        padding: 0 22.3rem;
        font-size: 18px;
        margin-top: 0.3rem;
        line-height: 2rem;
    }
    
    .buttons_div_bottom {
        width: 35%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Footer */

    footer {
        margin: 0 auto;
        margin-top: 9.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 0 2rem;
    }

    .page_links {
        margin-top: 2.5rem;
        width: 47%;
        margin-left: 0.5rem;
    }
    
    .logo_bottom{
        margin-top: 1rem;
    }

    .page_links_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        list-style-type: none;
        font-family: var(--fontFamily);
        width: 90%;
    
    }

    .page_links_item{
        margin-bottom: 1rem;
    }

    .page_links_item:nth-child(1){
        grid-column: 1;
    }

    .page_links_item:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }

    .page_links_item:nth-child(3){
        grid-column: 2;
        grid-row: 1;
    }

    .page_links_item:nth-child(4){
        grid-column: 2;
        grid-row: 2;
    }

    .page_links_list:nth-child(1){
        grid-column: 1;
    }

    .social_links{
        width: 10%;
    }

    .social_links_list {
        justify-content: space-between;
        width: 100%;
        padding-left: 15px;
    }

    .social_links_img {
        height: 25px;
    }
}